
	<div id="aboutwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
                    <h2>Wanna know more about ME?</h2>
				</div>
			</div>
	    </div>
	</div>
	<div class="container">
        <div class="row centered mt mb">
            <div class="col-lg-8 col-lg-offset-2">
                                
                <p>Front-end developer with over 6 years experience in developing web applications using HTML/HTML5, CSS/CSS3, JavaScript & JavaScript frameworks meeting W3C standards.</p>
                <p>Expertise in building websites confirming Web 2.0 standards and Single Page Applications (SPA) using AngularJs.</p>
                <p>Extensive experience on implementing the AJAX features using JavaScript and jQuery.</p>
                <p>Experience in Agile methodologies such as Extreme Programming, Waterfall Model and Test Driven Development.</p>
                <p>Experience with Version Control tools like TFS, Github and SVN for Source Code version management and merging Source code after intermittent Project releases</p>

            </div>

        </div>
    </div>
	
	

	


