

	<div id="workwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
					<h1>Here are the Projects I've worked</h1>
					
					<h3>ROLE: UI DEVELOPER</h3>
				</div>
			</div>
	    </div> 
	</div>
	
	<section id="works"></section>
	<div class="container">
		<div class="row centered mt mb">
			<div class="col-lg-8 col-lg-offset-2">
				<h4>Blitz, LA, CA</h4>
				<p>I developed application features using HTML5, CSS3, JSON, JavaScript, JQUERY, AngularJs. Worked in a Agile Scrum team of 8 people, 4 developers , one QA,BSA,Scrum master and one UI developer.</p>
                    <p>We used to get the wireframes from the design team which shows the complete picture of the sprint plan.Coming to the technologies worked on Angular-Bootstrap components  for menus, user-interface, widgets. The navigation menu is role based, which is created using HTML5. We developed templates using HTML5. CSS3, backboneJs. Developed web pages complying with Web Content Accessibility Guidelines (WCAG) and ability to apply W3C web standards and also cross browser compatibility.</p>
                <p>Used firebug to debug the application and to traverse the documents.</p>
                <h4>CVS Caremark, RI</h4>
                <p>My role in the project is to design and develop front-end part widget based application. I created and maintained layout of each portal using CSS. Enhanced user experience using MVC framework like AngularJs. Worked on dashboard of the project which has draggable components created using Jquery UI. Used HTML5 for audio and video playback. We used Agile methodology for software development.</p>
                <h4>Lending Club, CA</h4>
                <p>I have designed the page layout by using HTML5,CSS3. I have created web application prototype using Jquery.
Used responsive web design for compatibility in different devices. Used AJAX controls for payment and inventory reports. Performed client side vadilation using JavaScript. We used firebug to identify bugs and fixed them.</p>
                <h4>Bank of India, Hyderabad, India</h4>
                <p>I have designed the websites home page by using HTML and CSS3. I have used scripting languages like javascript and jquery in order to make the webpage more interactive.I have written Application level code to perform client side validation using JavaScript and Jquery. JIRA for bug tracking and SVN as version control.</p>
			</div>
			
		</div>
	</div>
	
	